/*FUENTES*/
@import url('https://fonts.googleapis.com/css2? family= Sansita & display=swap');

/*RESET PARAMETROS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    justify-items: center;
    align-items: center;
}

/*----------------------------------------HEADER------------------------------------------*/
header {
    display: flex;
    width: 100%;
    min-height: 70px;
    background-color: #C2DEDC;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
}

.logo img {
    height: 50px;
    border-radius: 50%;
    align-items: center;
    margin-right: 20px;
}

.nombreConsultorio {
    font-family: 'Sansita', sans-serif;
    text-align: center;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}

/*-----------------------------------------MAIN---------------------------------------------------*/

main {
    display: grid;
    grid-template-areas:
        "seccion1 seccion2"
        "seccion1 seccion2";
}

/*SECCION 1*/
.seccion1 {
    grid-area: seccion1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

/*MASAJES*/
.seccion1 .masajes {
    width: 330px;
    height: 450px;
    background-color: rgb(139, 204, 206);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.seccion1 .masajes:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.seccion1 .masajes img {
    width: 300px;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
}

.seccion1 .masajes h4 {
    padding: 0 1rem;
    font-weight: 600;
}

.seccion1 .masajes p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.seccion1 .masajes a {
    font-weight: 500;
    text-decoration: none;
    color: darkblue;
}

/*DEPILACION*/
.seccion1 .depilacion {
    width: 330px;
    height: 450px;
    background-color: rgb(139, 204, 206);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.seccion1 .depilacion:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.seccion1 .depilacion img {
    width: 300px;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
}

.seccion1 .depilacion h4 {
    padding: 0 1rem;
    font-weight: 600;
}

.seccion1 .depilacion p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.seccion1 .depilacion a {
    font-weight: 500;
    text-decoration: none;
    color: darkblue;
}

/*SECCION 2*/
.seccion2 {
    grid-area: seccion2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

/*ESTETICA*/
.seccion2 .estetica {
    width: 330px;
    height: 450px;
    background-color: rgb(139, 204, 206);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.seccion2 .estetica:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.seccion2 .estetica img {
    width: 300px;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
}

.seccion2 .estetica h4 {
    padding: 0 1rem;
    font-weight: 600;
}

.seccion2 .estetica p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.seccion2 .estetica a {
    font-weight: 500;
    text-decoration: none;
    color: darkblue;
}

/*APARATOLOGIA*/
.seccion2 .aparatologia {
    width: 330px;
    height: 450px;
    background-color: rgb(139, 204, 206);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.seccion2 .aparatologia:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.seccion2 .aparatologia img {
    width: 300px;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
}

.seccion2 .aparatologia h4 {
    padding: 0 1rem;
    font-weight: 600;
}

.seccion2 .aparatologia p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.seccion2 .aparatologia a {
    font-weight: 500;
    text-decoration: none;
    color: darkblue;
}

h3 {
    font-family: 'Sansita', sans-serif;
    text-align: right;
}

/*-------------------------------------PAGE APARATOLOGIA-------------------------------------------*/
/*ELECTRODOS*/
.cardElectrodos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 20px;
}

.tituloElectrodos {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    ;
}

.cuerpoElectrodos {
    padding: 10px;
}

.cardElectrodos .cuerpoElectrodos img {
    width: 450px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
}

/*VACUMTERAPIA*/
.cardVacumterapia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 20px;
}

.tituloVacumterapia {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    ;
}

.cuerpoVacumterapia {
    padding: 10px;
}

.cardVacumterapia .cuerpoVacumterapia img {
    width: 450px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
}

/*MESOTERAPIA*/
.cardMesoterapia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 20px;
}

.tituloMesoterapia {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    ;
}

.cuerpoMesoterapia {
    padding: 10px;
}

.cardMesoterapia .cuerpoMesoterapia img {
    width: 450px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
}

/*PRESOTERAPIA*/
.cardPresoterapia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 20px;
}

.tituloPresoterapia {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    ;
}

.cuerpoPresoterapia {
    padding: 10px;
}

.cardPresoterapia .cuerpoPresoterapia img {
    width: 450px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
}

.cajaMasajes {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 200px;
    background-image: url(../img/masaje1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(99, 96, 96);
}

.cajaDepilacion {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 200px;
    background-image: url(../img/depilacion1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(99, 96, 96);
}

.cajaEstetica {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 200px;
    background-image: url(../img/estetica1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(99, 96, 96);
}

.cajaAparatologia {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 200px;
    background-image: url(../img/aparatologia1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(99, 96, 96);
}

.masaje1 {
    width: 350px;
    height: 200px;
    background-image: url(../img/masaje-descontracturante1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.masaje2 {
    width: 350px;
    height: 200px;
    background-image: url(../img/masaje-relajante1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.masaje3 {
    width: 350px;
    height: 200px;
    background-image: url(../img/masaje_modelador1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.masaje4 {
    width: 350px;
    height: 200px;
    background-image: url(../img/masaje-drenaje1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.estetica1 {
    width: 350px;
    height: 200px;
    background-image: url(../img/pesatañas1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.estetica2 {
    width: 350px;
    height: 200px;
    background-image: url(../img/cejas1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.estetica3 {
    width: 350px;
    height: 200px;
    background-image: url(../img/manos1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.estetica4 {
    width: 350px;
    height: 200px;
    background-image: url(../img/pies1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.depilacion1 {
    width: 350px;
    height: 200px;
    background-image: url(../img/española1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.depilacion2 {
    width: 350px;
    height: 200px;
    background-image: url(../img/laser1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}


/**/
.aparatologia1 {
    width: 350px;
    height: 200px;
    background-image: url(../img/electrodos1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.aparatologia2 {
    width: 350px;
    height: 200px;
    background-image: url(../img/vacum1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.aparatologia3 {
    width: 350px;
    height: 200px;
    background-image: url(../img/meso1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.aparatologia4 {
    width: 350px;
    height: 200px;
    background-image: url(../img/preso1.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.descripcion1,
.descripcion2,
.descripcion3,
.descripcion4 {
    width: 800px;
    height: 200px;
    background-color: beige;
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.sobreNosotros {
    width: 100%;
    height: 300px;
    background-image: url(../img/sobreNosotros.jpg);
    background-size: cover;
    padding: 1px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

/*------------------------------------------FOOTER----------------------------------------------*/
.footer {
    width: 100%;
    background-color: #C2DEDC;
}

.footer .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo1 .box figure img {
    width: 250px;
}

.red-social {
    display: flex;
    gap: 20px;
}

.fa-facebook,
.fa-instagram,
.fa-whatsapp {
    font-size: 24px;
}